body {
    background-color: #EEF9BF;
    width: 100%;
}

.topo {
    width: 540px;
    height: 63px;
    margin-top: 40px;

    font-family: 'Roboto';
    font-weight: 700px;
    font-size: 56px;
    line-height: 65.63px;
    letter-spacing: -0.4%;
    white-space: nowrap;
    color:#75B79E;

    margin-left: auto;
    margin-right: auto;
}

.cronômetro {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: orange;
    margin-left: 50px;
}

.baralho {
    margin-top: 47px;
    margin-left: 120px;
    margin-right: 120px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.carta {
    width: 117px;
    height: 146px;
    margin-left: 41px;
    margin-top: 24px;
    border-radius: 5px;
    background-color: #A7E9AF;

    backface-visibility: hidden;
    transition: transform 0.5s;
}